
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h3>When &amp; What</h3>
    <div class="well">

    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h3>Who</h3>
    <div class="well">

    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
  <h3>Where</h3>
    <div id="map" style="height:400px;background-color:blue;"></div>

    <button id="mapButton">Clear Markers</button>
  </div>
</div>
