<h3>Create Note/Task/Appt for Customer: </h3>
<h5><%= @customer.name %></h5>
<p><%= @customer.address %></p>

<div class="row">
<!--
form here
 -->
</div>




<%= @notes.length %>
<p>&nbsp;</p>
<%= @current_user.name %>
