.index-block {
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}
.well .glyphicon {
  padding-left: 10px;
}

.note-block {
  line-height: 12px;
  margin-bottom: 15px;
}
.note-block p {
  margin-bottom: 2px;
}
.note-due {
  font-weight: 900;
}
.note-subject {
  padding-left: 5px;
}
.note-body {
  padding-left: 5px;
  font-style: italic;
  font-size: 12px;
}
.customer-block {
  line-height: 12px;
  margin-bottom: 15px;
}
.customer-block p {
  margin-bottom: 2px;
}
.customer-name {
  font-weight: 900;
  padding-left: 5px;
}
.customer-address {
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
  font-size: 12px;
}
#map {
  margin: 42px 0 0 0;
}
