.well .glyphicon {
  padding-left: 10px;
}

.note-block {
  line-height: 11px;
  margin-bottom: 15px;
}
.note-due {
  font-weight: 900;
}
.note-subject {
  padding-left: 5px;
}
.note-body {
  padding-left: 5px;
  font-style: italic;
  font-size: 12px;
}
.customer-block {
  line-height: 11px;
  margin-bottom: 15px;
}
.customer-name {
  font-weight: 900;
 padding-left: 5px;
}
.customer-address {
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
  font-size: 12px;
}
